* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  *::-webkit-scrollbar {
      /* display: none; */
      width: 10px; 
  }
  *::-webkit-scrollbar-track {
      background-color: orange;
      border-radius: 10px;
      
  }
  *::-webkit-scrollbar-thumb {
      background-color: rgb(255, 89, 0);
      border-radius: 20px;
      border: 3px solid orange;
      border-radius: 10px;
    }
  
.modal_content {
    height: 500px;
    width: 500px;
    border: 1px solid #a4b180;
    border-radius: 10px;
}
.mission_container {
    padding: 1em;
    height: 400px;
    width: 400px;
    border: 1px solid #a4b180;
    border-radius: 10px;
}

.missions {
    padding: 0.6em;
}